.lightbox-glass {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.lightbox-popup {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    background: #fff;
    padding: 10px;
    box-shadow: 0 1px 3px #000;
}
.lightbox-popup .lightbox-figure {
    background: rgb(0, 0, 0);
    float: left;
    border: 1px solid #999;
    box-shadow: 0 1px 3px #696969;
}
.lightbox-popup .lightbox-caption {
    color: #3e3e3e;
    clear: both;
    height: 20px;
    display: block;
    padding: 5px 0 0 0;
}