*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

#page {
    margin: 10px auto;
    width: 960px;
}

#page h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #696969;
    padding: 0 0 4px 0;
}

#page h1 a {
    color: #324D5C;
    padding: 0 5px;
    text-decoration: none;
}

#page h1 a:hover {
    background: #324D5C;
    color: white;
}

#page ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.pictures-list {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
}
